* {
  margin: 0 auto;
  padding: 0;
}

html,
body {
  height: 100%;
  background: linear-gradient(to bottom, rgb(77, 195, 241), rgb(62, 177, 152));
}

.wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 200px;
  margin: 20px auto;
  padding: 50px;
  color: rgb(56, 56, 56);
  text-align: center;
  line-height: 30px;
  font-weight: 800;
}
form {
  background-color: white;
}
fieldset {
  border: none;
}
h1 {
  color: rgb(92, 92, 92);
  padding-bottom: 10px;
}
ul {
  list-style-type: none;
}
li {
  background-color: white;
}

ul > li a:link,
ul > li a:visited {
  color: rgb(143, 143, 143);
  text-decoration: none;
  font-size: 0.7em;
}
ul > li a:hover {
  color: rgb(58, 58, 58);
  text-decoration: none;
  font-size: 0.7em;
}

input {
  width: 160px;
  height: 25px;
  padding: 5px;
  padding-inline-start: 30px;
  margin: 4px;
  border: none;
  background-color: rgb(229, 248, 239);
  color: rgb(119, 119, 119);
  font-size: 12px;
}

input:required:invalid {
  border-color: rgb(119, 119, 119);
}

.email {
  background: url(../login/img/user.svg) no-repeat scroll;
  background-size: 7%;
  background-color: rgb(229, 248, 239);
  background-position: 4%;
}

.pwd {
  background: url(../login/img/key.svg) no-repeat scroll;
  background-size: 7%;
  background-color: rgb(229, 248, 239);
  background-position: 4%;
}

.submit {
  margin-top: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(151, 214, 185);
  border-radius: 20em;
  width: 100px;
  padding: 6px;
  border-style: hidden;
  cursor: pointer;
}
.submit:hover {
  color: rgb(119, 119, 119);
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(151, 214, 185);
  padding: 5px;
}

.signUp {
  margin-top: 10px;
}
